:root {
  --background: #ffffff;
  --foreground: #171717;
  --logo-color: #5D5D6D;
  --background-secondary: #F3F5F6;
  --text-dark: #737380;
  --delete-color: #DE3838;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
